.artist-info
  -if @artist
    #artist-image
      -unless @artist.image.file == nil
        = link_to image_tag( @artist.image.midsize ), "/#{I18n.locale.to_s}/" + @artist.slug, target: "_blank"
      -else
        = link_to image_tag( 'default_artist_midsize.jpg' ), "/#{I18n.locale.to_s}/" + @artist.slug, target: "_blank"      
    #artist-bio
      - unless @artist.bio.nil? || @artist.bio.empty?
        = @artist.bio
      - else
        = t(:artist_bio_not_available)
  - else
    #artist-image
      = image_tag( 'default_artist_midsize.jpg' )
    #artist-bio 
      %em
        = t(:artist_notfound)