= form_for artist do |f|  
  .row
    .col-md-6
      .form_group
        - if current_user.admin?
          = f.label t(:artist_name)
          = f.text_field :name, class: 'form-control'
        - else
          = artist.name
      .form_group
        = f.label t(:artist_bio)
        = f.text_area :bio, class: 'form-control'
      .form_group
        = f.label t(:artist_city)
        = f.text_field :city, class: 'form-control'
      .form_group
        = f.label t(:artist_url)
        = f.text_field :external_url, class: 'form-control'
      .form_group
        = f.label t(:social_fb)
        = f.text_field :social_fb, class: 'form-control'
      .form_group
        = f.label t(:genre)
        - genres_array = Genre.all.ordered_by_name.map { |genre| [genre.name, genre.id] }
        = f.select(:genre_id, options_for_select(genres_array, f.object.genre_id), {:class => 'form-control half-width'})
      .form_group
        = f.label t(:artist_active)
        = f.check_box :active, class: 'checkbox'
      .form_group
        = f.label t(:artist_image)
        = f.file_field :image
        = f.hidden_field :image_cache
        - if f.object.image
          .current_file
            - file = URI(f.object.image.to_s).path.split('/').last.to_s
            = t(:current_file) + ': ' + (file.length > 0 ? file : "-").to_s
  .row.margin-top-10
    .form_group
      = f.submit t(:form_save), class: 'btn btn-success'
      - if artist.slug
        = link_to t(:cancel), "/#{I18n.locale.to_s}/" + artist.slug, class: "btn btn-danger"
      - else
        = link_to t(:cancel), artists_path, class: "btn btn-danger"

