.artist-info
  -if @artist
    #artist-image
      -unless @artist.image.file == nil
        = image_tag( @artist.image.midsize )
      -else
        = image_tag( 'default_artist_midsize.jpg' )      
    #artist-bio
      = @artist.bio
  - else
    #artist-image
      = image_tag( 'default_artist_midsize.jpg' )
    #artist-bio 
      %em
        = t(:artist_notfound)