.artist-info
  -if @artist
    #artist-image
      -unless @artist.image.file == nil
        = link_to image_tag( @artist.image.midsize ), @artist, target: "_blank"
      -else
        = link_to image_tag( 'default_artist_midsize.jpg' ), @artist, target: "_blank"      
    #artist-bio
      = @artist.bio
  - else
    #artist-image
      = image_tag( 'default_artist_midsize.jpg' )
    #artist-bio 
      %em
        = t(:artist_notfound)