= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(Artist.new).create?
        =link_to t(:new_artist), new_artist_path, class: 'btn btn-success'
    
.row
  .col-md-1
  .col-md-10
    %h4.artist_catalogue_title
      =t(:artists_from_station) + " " + @radio.id.to_s + " (#{@radio.description})"
      .row.artists_container{:id => "artist_container#{@radio.id}"}
        - @artists.each do |artist|
          %a{ href: artist_path(artist.id), class: "artist_thumb text-center"}
            - if artist.image?
              = image_tag( artist.image.thumb )
            - else
              = image_tag( 'default_artist_thumb.jpg' )    
            %p      
            = artist.name
  .col-md-1




