= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(Artist.new).create?
        =link_to t(:new_artist), new_artist_path, class: 'btn btn-success'
    
.row
  .col-md-1
  .col-md-10
    - Radio.all.shuffle.each do |radio|
      %h4.artist_catalogue_title
        =t(:random_artists_station) + " " + radio.id.to_s + " (#{radio.description})"
        .pull-right
          = link_to t(:see_all), "artists/station/#{radio.id}", params[:radio]
      .row.margin-bottom-10.artists_container{:id => "artist_container#{radio.id}"}
        - radio.artists.shuffle[0..5].each do |artist|
          %a{ href: artist_path(artist.slug), class: "artist_thumb text-center"}
            - if artist.image?
              = image_tag( artist.image.thumb )
            - else
              = image_tag( 'default_artist_thumb.jpg' )    
            %p      
            = artist.name
  .col-md-1




