- title t(:catalogue)
- set_meta_tags description: t(:catalogue_description)
= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-left
      - if policy(Artist.new).create?
        =link_to t(:new_artist), new_artist_path, class: 'btn btn-success'
    
.row
  .col-md-1
  .col-md-10
    - Radio.all.each do |radio|
      .artist_catalogue_title
        %h4.pull-left
          =t(:random_artists_station) + " " + radio.id.to_s + " (#{radio.description})"
        .pull-right.btn.whitebtn{id: "btn#{radio.id}" }
          = t(:see_all)
      .row.clear_both.margin-bottom-10.artists_container{:id => "artist_container#{radio.id}"}
        - radio.artists.shuffle[0..9].each do |artist|
          %a{ href: artist.slug + "?catalogue=#{@catalogue}", class: "artist_thumb text-center"}
            - if artist.image?
              = image_tag( artist.image.thumb )
            - else
              = image_tag( 'default_artist_thumb.jpg' )    
            %p      
            = artist.name
  .col-md-1

%script
  
  pre_radio_id = 0;

  function refresh_artists(radio_id,pre_radio_id){
  
  // Ajax call the partial that contains station artists using the radio_id as input
  $.ajax({data: { radio_id: radio_id }, type: 'get', url: "/" + locale + "/get_station_artists", success: function(r) { $('#artist_container'+radio_id).hide().html(r).fadeIn('slow'); } });

  // Ajax hide the partial from the previous radio_id
  if(radio_id !== pre_radio_id){$.ajax({data: { pre_radio_id: pre_radio_id }, type: 'get', url: "/" + locale + "/get_station_summary", success: function(r) { $('#artist_container'+pre_radio_id).hide().html(r).fadeIn('slow'); } }).done(function() {
  fix_scroll(radio_id);
  });
  }

  }

  function fix_scroll(radio_id){
  $('html, body').animate({
  scrollTop: $('#artist_container'+radio_id).offset().top - 40
  }, 'slow');
  }

  $("[id^=btn]").click(function() {
  
  var radio_id = this.id.match(/\d+/)[0];

  refresh_artists(radio_id,pre_radio_id);

  pre_radio_id = radio_id;

  });

