= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(Artist.new).create?
        =link_to t(:new_artist), new_artist_path, class: 'btn btn-success'
    
.row
  .col-md-1
  .col-md-10
    - Radio.all.shuffle.each do |radio|
      .row.artists_container{:id => "artist_container#{radio.id}"}
        %h5
          =t(:random_artists_station) + " " + radio.id.to_s + " (#{radio.description})"
        - radio.artists.shuffle[0..7].each do |artist|
          .artist_thumb.text-center
            - if artist.image?
              = image_tag( artist.image.thumb )
            - else
              = image_tag( 'default_artist_thumb.jpg' )    
            %p      
            = link_to artist.name, artist
  .col-md-1



