= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(@artist).edit?
        =link_to t(:edit_artist), edit_artist_path(@artist), class: 'btn btn-warning'
        =link_to t(:add_album), new_artist_album_path(@artist), class: 'btn btn-success'
      - if policy(@artist).destroy?
        =link_to t(:delete_artist), @artist, method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_artist_confirm) }

.row
  .col-md-1
  .col-md-10
    %h3
      = @artist.name
  .col-md-1

.row
  .col-md-1
  .col-md-8
    .artist_div
      .artist_divleft
        .artist_imageinfo
          - if @artist.image?
            = image_tag( @artist.image )
          - else
            = image_tag( 'default_artist.jpg' )      
      .artist_divright
        %strong
          = t(:artist_city) + ": "
        = @artist.city
        %br
        %strong
          = t(:artist_url) + ": "
        = @artist.url
        %br
        %strong
          = t(:genre) + ": "
        = @artist.genre.name
        %br   
        .artist_bio.margin-top-05
          %p
            = @artist.bio
  .col-md-1

.row
  .col-md-1
  .col-md-3 
    %h5
      = t(:albums)
    .artist_albums
      - @albums.each do |album|
        .row
          .artist_album
            .artist_album_thumb
              -if album.cover?
                = image_tag( album.cover.thumb )
              -else
                = image_tag( 'default_album_thumb.jpg')
            .artist_album_info
              = link_to album.name, artist_album_path(@artist,album.id)
              %br
              = album.year
  .col-md-4 
    %h5
      = t(:songs)
    .artist_songs
      %ul.playlist
        - @albums.each do |album|
          - album.songs.each do |song|
            %li
              %a{ href: song.filename }
                - if song.track
                  = format('%02d', song.track).to_s + ' ' + song.name
                - else
                  = format('%02d', 0).to_s + ' ' + song.name
