- title @artist.name
- if @artist.image?
  - set_meta_tags :og => {:title => @artist.name, :url => artist_url(@artist), :image => image_url(@artist.image), :description => @artist.bio }
- else
  - set_meta_tags :og => {:title => @artist.name, :url => artist_url(@artist), :description => @artist.bio }  
- set_meta_tags description: @artist.bio
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana #{@artist.name}]

= render partial: 'artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-left
      = link_to t(:back_to_catalogue), artists_path, class: 'btn btn-info'
    .pull-right
      - if policy(@artist).edit?
        =link_to t(:edit_artist), edit_artist_path(@artist), class: 'btn btn-warning'
        =link_to t(:add_album), new_artist_album_path(@artist), class: 'btn btn-success'
      - if policy(@artist).destroy?
        =link_to t(:delete_artist), @artist, method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_artist_confirm) }

.row
  .col-md-1
  .col-md-7{id:"main_block"}
    .clear_both
      .pull-left
        %h3.catalogue_title
          = @artist.name
      .sharepage.pull-right
        %h5
          = t(:share_this_artist)
        .pull-right
          = social_share_button_tag((@artist.name + " " + t(:in_radioperu)), popup: "true", via: "radioperu_pe")
    .clear_both
      .artist_image
        - if @artist.image?
          = image_tag( @artist.image )
        - else
          = image_tag( 'default_artist.jpg' )  
      .artist_album_summary
        .artist_mininfo
          .page-views
            %i{class:"fa fa-eye"}
            = @pageviews
          %strong
            = t(:artist_city) + ": "
          = @artist.city
          %br
          %strong
            = t(:artist_url) + ": "
            -if @artist.external_url
              = link_to @artist.external_url, @artist.external_url, :target => "_blank"
            - else
              \-
          %br
          %strong
            = t(:genre) + ": "
          - unless @artist.genre.nil?
            = @artist.genre.name
        .artist_bio.margin-top-05
          - unless @artist.bio.nil? || @artist.bio.empty?
            = simple_format(@artist.bio)
          - else
            = t(:artist_bio_not_available)
    .artists_albums.clear_both
      %h4.bold.clear_both
        = t(:albums)      
      - @albums.each do |album|
        .row
          %a{ href: '/' + I18n.locale.to_s + '/' + @artist.slug + '/albums/' + album.slug, class: "artist_album"}
            .artist_album_thumb
              -if album.cover?
                = image_tag( album.cover.thumb )
              -else
                = image_tag( 'default_album_thumb.jpg')
            .artist_album_info
              = album.name
              %br
              .small
                = album.year
    .comment_block.clear_both.clear_fix
      %h4
        = t(:comments)
      - if current_user
        .new-comment
          = render partial: "comments/form", locals: { commentable: @commentable }
      - else
        %i
          =t(:you_must_sign_in_to_comment)
      .js-comments
        = render partial: 'comments/comment', collection: @comments
  .col-md-3.social_networks.text-center
    - if @facebook_id && @facebook_id != ''
      %h4.bold.clear_both
        = @artist.name + " " + t(:in_facebook)
      %div{class:"fb-page", "data-href"=>"https://www.facebook.com/#{@facebook_id}", "data-small-header"=>"true", "data-adapt-container-width"=>"true", "data-hide-cover"=>"true", "data-show-facepile"=>"true", "data-show-posts"=>"true", "data-height" => 500}
        .fb-xfbml-parse-ignore
          %blockquote{cite:"https://www.facebook.com/#{@facebook_id}"}
            %a{href:"https://www.facebook.com/#{@facebook_id}"}
              = @facebook_id.to_s

= render partial: 'sponsors/sponsorbanner'

%script{:type=>"text/javascript"}

  mb_height = $('#main_block').height()

  $( ".fb-page" ).attr( "data-height",  mb_height);
  
  // Info for Stats

  function get_userinfo(){
  $.ajax( { 
  url: '//geoip.nekudo.com/api/', 
  type: 'GET', 
  dataType: 'jsonp',
  success: function(location) {
  stats_ip_address = location.ip;
  stats_country = location.country.name;
  stats_city = location.city;
  }
  } );
  user_agent = navigator.userAgent;
  artist_id = "#{@artist.id}"
  }

  get_userinfo();

  // Viewing Stats

  function viewstat(){
  $.ajax({data: { artist_id: artist_id, ip_address: stats_ip_address, city: stats_city, country: stats_country, platform: user_agent }, type: 'post', url: "/" + locale + "/add_to_artist_views" });}

  setTimeout(viewstat,5000);