.stats_title
	= t(:stats_for) + " " + @artist.name
%br
.row
	.col-md-12.clearfix
		.stats_content
			.catalogue_stats.stats
				.text-center
					= t(:top_stats_catalogue)
				#catalogue_chart
			.playlist_stats.stats
				.text-center
					= t(:top_stats_playlist)
				#playlist_chart
			.radio_stats.stats
				.text-center
					= t(:top_stats_radio)
				#radio_chart



%script{:type=>"text/javascript"}
	var playlist_stats = #{@plays[:playlist].to_json.html_safe}
	var catalogue_stats = #{@plays[:catalogue].to_json.html_safe}	
	var radio_stats = #{@plays[:radio].to_json.html_safe}	
	var empty_stats = [["No se tienen datos",0]];

	if (radio_stats.length == 0) {
	radio_stats = empty_stats;
	}

	if (catalogue_stats.length == 0) {
	catalogue_stats = empty_stats;
	}

	if (playlist_stats.length == 0) {
	playlist_stats = empty_stats;
	}