<!DOCTYPE html>
.row
  .artist_div
    =link_to @artist.name, root_url + "/" + @artist.slug
    .artist_divright
      %strong
        = t(:artist_city) + ": "
      = @artist.city
      %br
      %strong
        = t(:artist_url) + ": "
        -if @artist.external_url
          = link_to @artist.external_url, @artist.external_url, :target => "_blank"
        - else
          \-
      %br
      %strong
        = t(:genre) + ": "
      - unless @artist.genre.nil?
        = @artist.genre.name
      %br  
        .artist_bio.margin-top-05
          - unless @artist.bio.nil? || @artist.bio.empty?
            = simple_format(@artist.bio)
          - else
            = t(:artist_bio_not_available)
