#backbutton
  %button.btn.btn-sm.btn-info
    = t(:back_to_schedule)
%h5
  = t(:program_name)
%p
  = '"' + @program.name + '"' 
%p
  = image_tag( @program.image )
%p
  = @program.description


%script{:type=>"text/javascript"}

  $(window).scrollTop(tempScrollTop);

  $("#backbutton").click(function() {
  
  update_programs;

  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  
  });