%script
  $("#opaque-cover").remove();

- title t(:register_as_musician)
- set_meta_tags description: t(:musician_form_disclaimer)
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana]
- set_meta_tags :og => {:image => image_url('radioperu200.png') }

= form_for @musician_form do |f|  
  .row
    .col-md-2
    .col-md-8
      %br
      .registration_text
        = simple_format(t(:musician_form_disclaimer))
    .col-md-2
  .row
    .col-md-2
    .col-md-4
      .form_group
        = f.label t(:musician_name)
        %span.red
          *
        = f.text_field :musician_name, class: 'form-control', :required => true, :title => 'Por favor llena este campo.'
      .form_group
        = f.label t(:musician_contact)
        %span.red
          *
        = f.text_field :musician_contact, class: 'form-control', :required => true, :title => 'Por favor llena este campo.'
      .form_group
        = f.label t(:musician_email)
        %span.red
          *
        = f.text_field :musician_email, class: 'form-control', :required => true, :title => 'Por favor llena este campo.'
      .form_group
        = f.label t(:musician_url)
        %span.red
          *
        = f.text_field :musician_url, class: 'form-control', :required => true, :title => 'Por favor llena este campo.'
      .form_group
        = f.label t(:musician_phone)
        = f.text_field :musician_phone, class: 'form-control'
      .form_group
        = f.label t(:musician_comments)
        = f.text_area :musician_comments, class: 'form-control'
      %p
      .form_group.pull-left
        = link_to t(:cancel), root_path, class: "btn btn-danger"
        = f.submit t(:form_send), class: 'btn btn-success'
    .col-md-4.form_benefits
      %p.text-center
        = t(:after_registration_benefits)
      .catalogue-container
        %a{ href: artists_path, data_description: t(:catalogue_description), class: "catalogue_link" }
          = t(:catalogue)
      %br
      .radios-container
        - (1..@radios.count).each do |i|
          %a{ href: radio_path(id: i), class: "station#{i} clear_both" }
            .stationlink
              .radiotitle.clear_both
                =@radios.find_by(id:i).name.downcase
              .radiodescription
                =@radios.find_by(id:i).description
    .col-md-2

