- if I18n.locale == :es
  - set_meta_tags :og => {:title => 'radioperu.pe', :url => root_url, :description => 'descubre toda la música del Perú', :image => image_url('estacionesfblink.png') }
- elsif I18n.locale == :en
  - set_meta_tags :og => {:title => 'radioperu.pe', :url => root_url, :description => 'discover all the music from Perú', :image => image_url('estacionesfblink.png') }
- set_meta_tags description: ("radioperu.pe - " + t(:discover))
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana catálogo musical demanda electrónica reggaetón pop urbano criollo trova canción de autor afroperuano andino salsa cumbia chicha tropical techno-cumbia rock pop reggae metal funk fusión balada hip hop nueva ola punk ska rap indie clásica jazz música del mundo académica fusión instrumental]

.row
  .col-md-1
  .col-md-10
    %h2.slogan-animation
      = t(:discover)
    .search
      = text_field_tag :search, params[:search], placeholder: "#{t(:search_text)}", size: 50, class: 'search-field'
  .col-md-1

.row.margin-top-05
  .col-md-1
  .col-md-10
    .radios
      - (1..@radios.count).each do |i|
        %a{ href: radio_path(id: i), class: "station#{i}" }
          .stationlink
            %span.radiotitle
              =@radios.find_by(id:i).name.downcase
            %br
            %span.radiodescription
              =@radios.find_by(id:i).description
      %a.catalogue{ href: artists_path, data_description: t(:catalogue) }
        %h3
          = t(:catalogue)
          %br
          %span.small
            = t(:catalogue_description)
  .col-md-1

.row.welcome_div.margin-top-15
  %h4.text-center
    = t(:radioperu_in_social_networks)

.row.margin-top-05
  .social-timelines-outer
    .social-timelines-inner-fb.social-timelines-inner
      %h5.text-center
        = link_to 'facebook - radioperu.pe', 'https://facebook.com/radioperu.pe'
      %div{class:"fb-page", "data-href"=>"https://www.facebook.com/radioperu.pe", "data-small-header"=>"true", "data-adapt-container-width"=>"true", "data-hide-cover"=>"true", "data-show-facepile"=>"true", "data-show-posts"=>"true"}
        .fb-xfbml-parse-ignore
          %blockquote{cite:"https://www.facebook.com/radioperu.pe"}
            %a{href:"https://www.facebook.com/radioperu.pe"}
              radioperu.pe

    .social-timelines-inner-tw.social-timelines-inner
      %h5.text-center
        = link_to 'twitter - radioperu.pe', 'https://twitter.com/radioperu_pe'
      %a{class:"twitter-timeline", href:"https://twitter.com/radioperu_pe", "data-widget-id"=>"656674867807408128", width:"340", height:"493"}
        Tweets por @radioperu_pe

    .social-timelines-inner-in.social-timelines-inner
      %h5.text-center
        = link_to 'instagram - radioperu.pe', 'https://instagram.com/radioperu.pe'
      %ul{id:"instagram"}



%script{:type=>"text/javascript"}
  
  $("#instagram").jqinstapics({
  "user_id": "2239742174",
  "access_token": "2239742174.674061d.b5f539d24131481692446e74771ec573",
  "count": 6
  });

  $.widget( "custom.catcomplete", $.ui.autocomplete, {
  _create: function() {
  this._super();
  this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
  },
  _renderMenu: function( ul, items ) {
  var that = this,
  currentCategory = "";
  $.each( items, function( index, item ) {
  var li;
  if ( item.category != currentCategory ) {
  ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
  currentCategory = item.category;
  }
  li = that._renderItemData( ul, item );
  if ( item.category ) {
  li.attr( "aria-label", item.category + " : " + item.label );
  }
  if ( item.model ) {
  li.attr( "model", item.model );
  }
  });
  }
  });

  $(function() {

  locale = "#{I18n.locale}";

  $( ".search-field" ).catcomplete({
  source: '/search_suggestions' + "?locale=" + locale,
  minLength: 3,
  open: function(event, ui) {
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
  $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
  }
  },
  select:function(event, ui){
  if ( ui.item.model == 'Artist' ) {
  window.location = '/artists/' + ui.item.model_id + "?locale=" + locale;
  }
  else if ( ui.item.model == 'Album' ) {
  window.location = '/artists/' + ui.item.parent_model_id + '/albums/' + ui.item.model_id + "?locale=" + locale;
  }
  else if ( ui.item.model == 'Song' ) {
  window.location = '/artists/' + ui.item.gparent_model_id + '/albums/' + ui.item.parent_model_id + '/songs/' + ui.item.model_id + "?locale=" + locale
  }
  },
  appendTo: ".search-form",
  });

  });

  $(".slogan-animation").animate({opacity: "1.0"}, 1000);


