.row
  .col-md-1
  .col-md-10
    .slogan
      = t(:discover)
    .search
      = text_field_tag :search, params[:search], placeholder: "#{t(:search_text)}", size: 50, class: 'search-field'
  .col-md-1

.row.margin-top-15
  .col-md-1
  .col-md-10
    .radios
      - (1..@radios.count).each do |i|
        %a{ href: radio_path(id: i), class: "station#{i}" }
          .stationlink
            %span.radiotitle
              =@radios.find_by(id:i).name
            %br
            %span.radiodescription
              =@radios.find_by(id:i).description
  .col-md-1

.row.margin-top-10
  .col-md-2
  .col-md-4 
    %a.catalogue{ href: artists_path, data_description: t(:catalogue) }
      %h3
        = t :catalogue
  .col-md-2
    %a.listener{ href: new_user_registration_path, data_description: t(:register_as_listener) }
      %h5
        = t :register_as_listener
  .col-md-2
    %a.musician{ href: '#', data_description: t(:register_as_musician) }
      %h5
        = t :register_as_musician
  .col-md-2


%script{:type=>"text/javascript"}

  $.widget( "custom.catcomplete", $.ui.autocomplete, {
  _create: function() {
  this._super();
  this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
  },
  _renderMenu: function( ul, items ) {
  var that = this,
  currentCategory = "";
  $.each( items, function( index, item ) {
  var li;
  if ( item.category != currentCategory ) {
  ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
  currentCategory = item.category;
  }
  li = that._renderItemData( ul, item );
  if ( item.category ) {
  li.attr( "aria-label", item.category + " : " + item.label );
  }
  if ( item.model ) {
  li.attr( "model", item.model );
  }
  });
  }
  });

  $(function() {

  locale = "#{I18n.locale}";

  $( ".search-field" ).catcomplete({


  select:function(event, ui){
  if ( ui.item.model == 'Artist' ) {
  window.location = locale + '/artists/' + ui.item.model_id;
  }
  else if ( ui.item.model == 'Album' ) {
  window.location = locale + '/artists/' + ui.item.parent_model_id + '/albums/' + ui.item.model_id;
  }
  else if ( ui.item.model == 'Song' ) {
  window.location = locale + '/artists/' + ui.item.gparent_model_id + '/albums/' + ui.item.parent_model_id + '/songs/' + ui.item.model_id
  }
  },
  
  appendTo: ".search-form",
  source: locale + '/search_suggestions' 
  });

  });

