.landing
  %p

  .row
    .col-md-12
      %h1.text-center.logo
        radioperu.pe

  .row
    .col-md-1
    .col-md-10
      .slogan
        = t :discover
      .search
        = text_field_tag :search, params[:search], placeholder: "#{t :search_text}", size: 50
        = submit_tag t :search, :name => nil
    .col-md-1

  .row.margin-top-15
    .col-md-1
    .col-md-10
      .radios
        %a.station1{ href: radio_path(id: 1)  }
          .stationlink
            %span.radiotitle
              =t(:station1)
            %br
            %span.radiodescription
              =t(:description1)
        %a.station2{ href: radio_path(id: 2)  }
          .stationlink
            %span.radiotitle
              =t(:station2)
            %br
            %span.radiodescription
              =t(:description2)
        %a.station3{ href: radio_path(id: 3)  }
          .stationlink
            %span.radiotitle
              =t(:station3)
            %br
            %span.radiodescription
              =t(:description3)
        %a.station4{ href: radio_path(id: 4)  }
          .stationlink
            %span.radiotitle
              =t(:station4)
            %br
            %span.radiodescription
              =t(:description4)
        %a.station5{ href: radio_path(id: 5)  }
          .stationlink
            %span.radiotitle
              =t(:station5)
            %br
            %span.radiodescription
              =t(:description5)
    .col-md-1

  .row.margin-top-10
    .col-md-2
    .col-md-4 
      %a.catalogue{ href: '#', data_description: t(:catalogue) }
        %h3
          = t :catalogue
    .col-md-2
      %a.listener{ href: new_user_registration_path, data_description: t(:register_as_listener) }
        %h5
          = t :register_as_listener
    .col-md-2
      %a.musician{ href: '#', data_description: t(:register_as_musician) }
        %h5
          = t :register_as_musician
    .col-md-2
