= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    %h3 
      = t(:edit_song)
    = form_for [@artist,@album,@song] do |f|
      .form_group
        = f.label t(:song_discnum)
        = f.text_field :discnum, class: 'form-control'
      .form_group
        = f.label t(:song_track)
        = f.text_field :track, class: 'form-control'
      .form_group
        = f.label t(:song_name)
        = f.text_field :name, class: 'form-control'
      .form_group
        = f.label t(:song_review)
        = f.text_area :review, class: 'form-control'
      .form_group
        = f.label t(:song_filename)
        = f.file_field :filename, class: 'form-control'
      .form_group
        = f.label t(:song_video)
        = f.text_field :video, class: 'form-control'
      .form_group
        = f.label t(:song_lyrics)
        = f.text_area :lyrics, class: 'form-control'
      .form_group
        = f.submit t(:form_save), class: 'btn btn-success'
        = link_to t(:cancel), [@artist,@album,@song], class: "btn btn-danger"