= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(@song).edit?
        =link_to t(:edit_song), edit_artist_album_song_path(@artist,@album,@song), class: 'btn btn-warning'
      - if policy(@song).destroy?   
        =link_to t(:delete_song), [@artist,@album,@song], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_song_confirm) }
    
.row
  .col-md-1
  .col-md-10
    %h3
      = (link_to @artist.name, @artist) + ' - ' + (link_to @album.name, [@artist,@album]) + ' - ' + @song.name
  .col-md-1

.row
  .col-md-1
  .col-md-6
    %ul.playlist.song-playlist
      %h4
        =t(:click_to_play)
      %li
        %a{ href: @song.filename }
          - if @song.track
            = format('%02d', @song.track).to_s + ' ' + @song.name
          - elsif @song.name
            = '00' + ' ' + @song.name
          - else
            = ''
    %h4
      =t(:song_video)
    %p.margin-top-05
      - if @song.video == nil
        = t(:video_not_available)
      - else
        - @video_id = VideoInfo.new(@song.video).video_id
        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{@video_id}", :title => "YouTube video player", :width => "640"}
    
  .col-md-4
    %h4
      =t(:song_lyrics)
    %p.margin-top-05
      - if @song.lyrics == nil
        = t(:lyrics_not_available)
      - else
        = h(@song.lyrics).gsub("\n", "<br>").html_safe 



