.row
  .col-md-1
  .col-md-10
    .radiotitles
      %ul.radionav
        - (1..@radios.count).each do |i|
          %li
            - if @radio.id == i
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i} highlighted"
            - else
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i}"
  .col-md-1

.row
  .col-md-1
  .col-md-5.margin-top-10
    .radio_container
      .station_title
        %h3
          = @radio.name.titleize + ' - ' + @radio.description.camelize
      .station_player
        #player
          %script{:type=>"text/javascript", :src=>@radio.player}
        #songtitle
          #artist
          #song
      .listeners.text-center
        %span.strong
          = t(:listeners) + ": "
        %em#listeners
        %br
        %span.strong
        = t(:nexttitle) + ": "
        %em#nexttitle
      #album_summary
      #artist_summary
  .col-md-3.margin-top-10
    .station_schedule
      %h5.text-center
        = t(:station_schedule)
      #station_schedule
        = render partial: 'programs/programs_index'
  .col-md-2.margin-top-10
    .station_sponsor
      %h5.text-center
        = t(:current_program_sponsor)
      #station_sponsor
        = render partial: 'programs/program_sponsor'
  .col-md-1

= javascript_include_tag 'jquery.shoutcast.min.js'

%script{:type=>"text/javascript"}

  // Set variables
  var locale = "#{I18n.locale}";
  var radio_id = "#{@radio.id}";
  var shoutcast_stats_host = "#{Radio.find(@radio.id).host}"
  var shoutcast_port = "#{Radio.find(@radio.id).port}"
  songtitle_old = 0
  songtitle_new = 1
  

  function update_artist(){

  $.SHOUTcast({host: shoutcast_stats_host,port:shoutcast_port}).stats(function(){
 
  // Shoutcast main variable
  songtitle_new = this.get('songtitle');

  // Update Listeners
  var listeners = this.get('currentlisteners');
  $('#listeners').text(listeners);
  
  if (songtitle_new != songtitle_old) {
  // Get or format variables
  var artist = songtitle_new.substring(0, this.get('songtitle').indexOf(" - "));
  var song = songtitle_new.substring(this.get('songtitle').indexOf(" - ") + 3);
  var nexttitle = this.get('nexttitle'); 
  // Append artist and song to player
  $('#artist').text(artist);
  $('#song').text(song);
  // Ajax call artist summary partial based on artist variable
  $.ajax({data: { artist_name: artist }, type: 'get', url: "/" + locale + "/artist_summary", success: function(r) { $('#artist_summary').html(r); } });
  // Ajax call album summary partial based on artist and song variable
  $.ajax({data: { song_name: song, artist_name: artist }, type: 'get', url: "/" + locale + "/album_summary", success: function(r) { $('#album_summary').html(r); } });
  // Update Next Title
  $('#nexttitle').text(nexttitle);
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  }

  songtitle_old = songtitle_new;
  });
  }

  function update_programs(){
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  }

  // Do updates of this periodically
  
  update_artist();
  setInterval(update_artist,5000);
  