- set_meta_tags :og => {:title => "radioperu.pe - estación #{@radio.id}", :description => @radio.description, :url => "http://radioperu.pe/radios/#{@radio.id}", :image => image_url('radioperu200.png') }
.row
  .col-md-1
  .col-md-10
    .radiotitles
      %ul.radionav
        - (1..@radios.count).each do |i|
          %li
            - if @radio.id == i
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i} highlighted"
            - else
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i}"
  .col-md-1

.row
  .col-md-1
  .col-md-5.margin-top-10
    .radio_container
      .station_title
        %h3
          = @radio.name.titleize + ' - ' + @radio.description.camelize
      .station_player
        #player
          %script{:type=>"text/javascript", :src=>@radio.player}
        #songtitle
          #artist
          #song
        .pull-right
          %span#share_song
          - if current_user && current_user.admin?
            %a{ href: "javascript:;", id: "share_facebook_test" }
          - else
            %a{ href: "javascript:;", id: "share_facebook" }
      #album_summary
      #artist_summary
  .col-md-3.margin-top-10
    .station_schedule
      %h5.text-center
        = t(:station_schedule)
      #station_schedule
        = render partial: 'programs/programs_index'
  .col-md-2.margin-top-10
    .station_sponsor
      %h5.text-center
        = t(:current_program_sponsor)
      #station_sponsor
        = render partial: 'programs/program_sponsor', radio: @radio
  .col-md-1

= javascript_include_tag 'jquery.shoutcast.min.js'

%script{:type=>"text/javascript"}

  window.fbAsyncInit = function() {
  FB.init({
  appId      : '440598459358292',
  xfbml      : true,
  version    : 'v2.4'
  });
  };

  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Set variables
  var locale = "#{I18n.locale}";
  radio_id = "#{@radio.id}";
  var shoutcast_stats_host = "#{Radio.find(@radio.id).host}"
  var shoutcast_port = "#{Radio.find(@radio.id).port}"
  songtitle_old = 0
  songtitle_new = 1
  

  function update_artist(){

  $.SHOUTcast({host: shoutcast_stats_host,port:shoutcast_port}).stats(function(){
 
  // Shoutcast main variable
  songtitle_new = this.get('songtitle');
  
  if (songtitle_new != songtitle_old) {
  // Get or format variables
  artist = songtitle_new.substring(0, this.get('songtitle').indexOf(" - "));
  song = songtitle_new.substring(this.get('songtitle').indexOf(" - ") + 3);
  // Append artist and song to player
  $('#artist').text(artist);
  $('#song').text(song);
  // Ajax call artist summary partial based on artist variable
  $.ajax({data: { artist_name: artist }, type: 'get', url: "/" + locale + "/artist_summary", success: function(r) { $('#artist_summary').html(r); } });
  // Ajax call album summary partial based on artist and song variable
  $.ajax({data: { song_name: song, artist_name: artist }, type: 'get', url: "/" + locale + "/album_summary", success: function(r) { $('#album_summary').html(r); } });
  // Ajax call share song partial based on artist and song variable
  $.ajax({data: { song_name: song, artist_name: artist, radio_id: radio_id }, type: 'get', url: "/" + locale + "/share_song", success: function(r) { $('#share_song').html(r); } });
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  }

  songtitle_old = songtitle_new;
  });
  }

  function update_programs(){
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  }

  // Do updates of this periodically
  
  update_artist();
  setInterval(update_artist,5000);
  
  // Share listening on Facebook
  function share_facebook(){
  FB.ui({
  method: 'share', 
  title: 'Estoy escuchando...',
  description: songtitle_new,
  caption: 'radioperu.pe - estación ' + radio_id,
  href: 'http://radioperu.pe/es/radios/' + radio_id
  }, function(response){});
  }

  function share_facebook_test(){
  FB.ui({
  method: 'share', 
  title: 'Estoy escuchando...',
  description: songtitle_new,
  caption: 'radioperu.pe - estación ' + radio_id,
  href: 'http://radioperu.pe/es/radios/' + radio_id,
  display: 'touch'
  }, function(response){});
  }

  $("#share_facebook").click(function() {
  share_facebook();
  });

  $("#share_facebook_test").click(function() {
  share_facebook();
  });