- title @radio.name
- set_meta_tags :og => {:title => "radioperu.pe - estación #{@radio.id}", :description => @radio.description, :url => "http://radioperu.pe/radios/#{@radio.id}", :image => image_url('radioperu200.png') }
- set_meta_tags description: @radio.description
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana]

.row
  .col-md-1
  .col-md-10
    %ul.mainnav.desktop
      %li.option_title.main_highlighted
        =link_to t(:online_radios), radio_path(Radio.all.shuffle.first)
      %li.option_title
        =link_to t(:catalogue), artists_path
      %li.option_title
        =link_to t(:playlists), playlists_path
    %ul.mainnav.mobile
      %li.option_title.main_highlighted
        =link_to t(:online_radios_min), radio_path(Radio.all.shuffle.first)
      %li.option_title
        =link_to t(:catalogue_min), artists_path
      %li.option_title
        =link_to t(:playlists_min), playlists_path
    .radiotitles.margin-top-05
      %ul.radionav
        - (1..@radios.count).each do |i|
          %li
            - if @radio.id == i
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i} highlighted"
            - else
              =link_to @radios.find_by(id:i).name, radio_path(id: i), class: "radiomenu#{i}"
  .col-md-1

.row
  .col-md-1
  .col-md-7.margin-top-10
    .radio_container
      %h1.station_title
        = @radio.name.titleize + ' - ' + @radio.description.camelize
      .station_player
        #player
          %script{:type=>"text/javascript", :src=>@radio.player}
        #songtitle
          #artist
          #song
        .pull-right
          %span#share_song
          %a{ href: "javascript:;", id: "share_facebook" }
      .listeners
      #album_summary
      #artist_summary
  .col-md-3.margin-top-10
    .station_schedule
      %h5.text-center
        = t(:station_schedule)
      #station_schedule
        = render partial: 'programs/programs_index'

.floating-ad-radio
  #station_sponsor

= javascript_include_tag 'jquery.shoutcast.min.js'

%script{:type=>"text/javascript"}

  window.fbAsyncInit = function() {
  FB.init({
  appId      : '440598459358292',
  xfbml      : true,
  version    : 'v2.4'
  });
  };

  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Set variables
  var locale = "#{I18n.locale}";
  radio_id = "#{@radio.id}";
  var shoutcast_stats_host = "#{Radio.find(@radio.id).host}"
  var shoutcast_port = "#{Radio.find(@radio.id).port}"
  songtitle_old = 0
  songtitle_new = 1
  

  function update_artist(){

  $.SHOUTcast({host: shoutcast_stats_host,port:shoutcast_port}).stats(function(){
 
  // Shoutcast main variable
  songtitle_new = this.get('songtitle');
  
  if (songtitle_new != songtitle_old) {
  // Get or format variables
  artist = songtitle_new.substring(0, this.get('songtitle').indexOf(" - "));
  song = songtitle_new.substring(this.get('songtitle').indexOf(" - ") + 3);
  // Append artist and song to player
  $('#artist').text(artist);
  $('#song').text(song);
  // Ajax call artist summary partial based on artist variable
  $.ajax({data: { artist_name: artist }, type: 'get', url: "/" + locale + "/artist_summary", success: function(r) { $('#artist_summary').html(r); } });
  // Ajax call album summary partial based on artist and song variable
  $.ajax({data: { song_name: song, artist_name: artist }, type: 'get', url: "/" + locale + "/album_summary", success: function(r) { $('#album_summary').html(r); } });
  // Ajax call share song partial based on artist and song variable
  $.ajax({data: { song_name: song, artist_name: artist, radio_id: radio_id }, type: 'get', url: "/" + locale + "/share_song", success: function(r) { $('#share_song').html(r); } });
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  // Update Stats
  setTimeout(update_stats,20000,artist,song);
  }
  songtitle_old = songtitle_new;
  });
  }

  function update_programs(){
  // Update Program List
  $.ajax({data: { radio_id: radio_id },type: 'get', url: "/" + locale + "/program_index", success: function(r) { $('#station_schedule').html(r); } });
  }

  // Info for Stats

  function get_userinfo(){
  $.ajax( { 
  url: '//geoip.nekudo.com/api/', 
  type: 'GET', 
  dataType: 'jsonp',
  success: function(location) {
  stats_ip_address = location.ip;
  stats_country = location.country.name;
  stats_city = location.city;
  }
  });
  user_agent = navigator.userAgent;
  }

  get_userinfo();

  // Playing Stats

  function update_stats(artist,song){
  if( song == $('#song').text() ){
  setTimeout(function(){
  $.ajax({data: { song_name: song, artist_name: artist, ip_address: stats_ip_address, platform: user_agent, city: stats_city, country: stats_country }, type: 'post', url: "/" + locale + "/add_to_radio_stats" });
  }, 8000);
  }
  }

  // Do updates of this periodically
  update_artist();
  setInterval(update_artist,5000);
  
  // Share listening on Facebook
  function share_facebook(){
  FB.ui({
  method: 'share', 
  title: 'Estoy escuchando...',
  description: songtitle_new,
  caption: 'radioperu.pe - estación ' + radio_id,
  href: 'http://radioperu.pe/es/radios/' + radio_id
  }, function(response){});
  }

  $("#share_facebook").click(function() {
  share_facebook();
  });
