.album-info
  - if @album
    #album-cover
      - unless @album.cover.file == nil
        = image_tag( @album.cover.thumb )
      - else
        = image_tag( 'default_album_thumb.jpg' )
    #album-name
      = @album.name
    #album-year
      = @album.year
  - else
    #album-cover
      = image_tag( 'default_album_thumb.jpg' )
    #album-name
      %em
        = t(:album_notfound)