= form_for [artist,album] do |f|  
  .row
    .col-md-6
      .form_group
        = f.label t(:album_name)
        = f.text_field :name, class: 'form-control'
      .form_group
        = f.label t(:album_review)
        = f.text_area :review, class: 'form-control'
      .form_group
        = f.label t(:album_year)
        = f.text_field :year, class: 'form-control'
      .form_group
        = f.label t(:album_format)
        = f.text_field :format, class: 'form-control'
      .form_group
        = f.label t(:genre)
        - genres_array = Genre.all.map { |genre| [genre.name, genre.id] }
        = f.select(:genre_id, options_for_select(genres_array, f.object.genre_id), {:size => 15, :class => 'form-control half-width'})
      .form_group
        = f.label t(:album_cover)
        = f.file_field :cover, class: 'form-control'
        = f.hidden_field :cover_cache
        - if f.object.cover
          .current_file
            - file = URI.unescape(URI(f.object.cover.to_s).path.split('/').last.to_s)
            = t(:current_file) + ': ' + (file.length > 0 ? file : "-").to_s
  .row
    .col-md-4
      %h4 
        = t(:songs_title)
  .row.text-center.bold
    .col-md-3
      = t(:song_filename)
    .col-md-1.id3
      = t(:id3)
    .col-md-1
      = t(:song_discnum)
    .col-md-1
      = t(:song_track)
    .col-md-5
      = t(:song_name)
  = f.fields_for :songs do |song|
    = render 'song_fields', :f => song
  .links.margin-top-05
    = link_to_add_association t(:add_song), f, :songs, class: 'btn btn-primary btn-sm'
  .row.margin-top-05
    .col-md-12
      .form_group.pull-right
        = link_to t(:cancel), [@artist,@album], class: "btn btn-danger"
        = f.submit t(:form_save), class: 'btn btn-success'

