.album-info
  - if @album
    .pull-left.album-summary
      .margin-bottom-00
        %em
          = t(:album)
      #album-name.margin-top-00.margin-left-01
        = @album.name
      #album-year.margin-left-01
        = @album.year
    .pull-right
      #album-cover
        - unless @album.cover.file == nil
          = link_to image_tag( @album.cover.thumb ), [@artist,@album], target: "_blank"
        - else
          = image_tag( 'default_album_thumb.jpg' )
  - else
    .pull-left
      .margin-bottom-00
        = t(:album)
      #album-name.margin-left-01
        %em
          = t(:album_notfound)
    .pull-right
      #album-cover
        = image_tag( 'default_album_thumb.jpg' )
