.album-info
  - if @album
    .pull-left
      %h5.margin-bottom-00.line-height-00
        = t(:album)
      #album-name.margin-top-00.margin-left-01
        = @album.name
      #album-year.margin-left-01
        = @album.year
    .pull-right
      #album-cover
        - unless @album.cover.file == nil
          = image_tag( @album.cover.thumb )
        - else
          = image_tag( 'default_album_thumb.jpg' )
  - else
    .pull-left
      %h5.margin-bottom-00.line-height-00
        = t(:album)
      #album-name.margin-left-01
        %em
          = t(:album_notfound)
    .pull-right
      #album-cover
        = image_tag( 'default_album_thumb.jpg' )
