.nested-fields
  .col-md-1
    .form_group
      = f.text_field :discnum, class: 'form-control'
  .col-md-1
    .form_group
      = f.text_field :track, class: 'form-control'
  .col-md-4
    .form_group
      = f.text_field :name, class: 'form-control'
  .col-md-4
    .form_group
      = f.file_field :filename, class: 'form-control'
  .col-md-2
    .form_group
      = f.text_field :length, class: 'form-control'
  = link_to_remove_association "remove song", f