= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(@album).edit?
        =link_to t(:edit_album), edit_artist_album_path(@artist,@album), class: 'btn btn-warning'
      - if policy(@album).destroy?
        =link_to t(:delete_album), [@artist,@album], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_album_confirm) }
    
.row
  .col-md-1
  .col-md-10
    %h3.catalogue_title
      %span.catalogue_title
        = (link_to @artist.name, @artist) 
      %span
        = ' - ' + @album.name
  .col-md-1

.row
  .col-md-1
  .col-md-8
    .album_image
      - if @album.cover?
        = image_tag( @album.cover )
      - else
        = image_tag( 'default_album.jpg' )
    .album_mininfo
      %strong
        = t(:album_year) + ": "
      = @album.year
      %br
      %strong
        = t(:album_format) + ": "
      - if @album.format
        = @album.format.name
      %br
      %strong
        = t(:genre) + ": "
      = @album.genre.name
    .album_bio
      %br
        - unless @album.review.nil? || @album.review.empty?
          = @album.review
        - else
          = t(:album_review_not_available)
  .col-md-1

.row
  .col-md-1
  .col-md-8
    .album_songs
      %ul.playlist
        %h5 
          =t(:click_to_play_arrow_for_details)
        - @songs.each do |song|
          %li
            .pointer
              - if song.name != ''
                =link_to raw("&#10138;"), artist_album_song_path(@artist,@album,song)
            %a{ href: song.filename }
              - if song.track
                = format('%02d', song.track).to_s + ' ' + song.name
              - elsif song.name
                = '00' + ' ' + song.name
              - else
                = ''

  .col-md-4
