- title @artist.name + ' - ' + @album.name
- if @album.cover?
  - set_meta_tags :og => {:title => (@artist.name + " - " + @album.name) , :url => artist_album_url(@artist,@album), :image => image_url(@album.cover), :description => @album.review}
- else
  - set_meta_tags :og => {:title => (@artist.name + " - " + @album.name) , :url => artist_album_url(@artist,@album), :description => @album.review}
- if @album.review.nil? || @album.review.empty?
  - set_meta_tags description: @album.name
- else
  - set_meta_tags description: @album.review  
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana #{@album.name}]

= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      - if policy(@album).edit?
        =link_to t(:edit_album), edit_artist_album_path(@artist,@album), class: 'btn btn-warning'
      - if policy(@album).destroy?
        =link_to t(:delete_album), [@artist,@album], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_album_confirm) }
    
.row
  .col-md-1
  .col-md-10
    .pull-left
      %h3.catalogue_title
        %span.catalogue_title
          = (link_to @artist.name, @artist) 
        %span
          = ' - ' + @album.name
    .sharepage.pull-right
      %h5
        = t(:share_this_album)
      .pull-right
        = social_share_button_tag((@artist.name + " - " + @album.name + " " + t(:in_radioperu)), popup: "true", via: "radioperu_pe")
  .col-md-1

.row
  .col-md-1
  .col-md-7{id:'main_block'}
    .album_image
      - if @album.cover?
        = image_tag( @album.cover )
      - else
        = image_tag( 'default_album.jpg' )
    .album_mininfo
      %strong
        = t(:album_year) + ": "
      = @album.year
      %br
      %strong
        = t(:album_format) + ": "
      - if @album.format
        = @album.format.name
      %br
      %strong
        = t(:genre) + ": "
      = @album.genre.name
      %br
      %strong
      - unless @album.buylink.nil? || @album.buylink.empty?
        = t(:buylink) + ": "
        = link_to @album.buylink, @album.buylink, :target => "_blank"
    .album_bio
      %br
        - unless @album.review.nil? || @album.review.empty?
          = simple_format(@album.review)
        - else
          = t(:album_review_not_available)
    .album_songs.clear_both
      %div{"oncontextmenu"=>"return false"}
        %ul.playlist
          %h5.playlist_title
            =t(:click_to_play_arrow_for_details)
          - @songs.each do |song|
            %li{id: "li"}
              -if current_user && current_user.role = 'admin'
                .playlist_add
                  = link_to "", "javascript:;", class: "add_to_playlist btn btn-sm btn-success glyphicon glyphicon-plus-sign", id: song.id   
              .pointer
                - if song.name != ''
                  =link_to t(:details), [@artist,@album,song]
              - offset = ENV["SOUND_OFFSET"].to_i
              - if song.filename.file
                %a{ href: ('#')*offset + "password" + '#' + rand(0..43254735465623).to_s + '#' + song.filename.file.basename + '#' + song.album.name + '#' + song.album.artist.name + '#' + ".mp3"}
                  - if @songs.last.discnum && @songs.last.discnum > 1                 
                    - if song.track
                      = format('%02d', song.discnum).to_s + '-' + format('%02d', song.track).to_s + ' ' + song.name
                    - elsif song.name
                      = '00' + ' ' + song.name
                  - else
                    - if song.track
                      = format('%02d', song.track).to_s + ' ' + song.name
                    - elsif song.name
                      = '00' + ' ' + song.name 
    - if @artist.albums.count > 1
      .album_nav.margin-top-10
        = link_to '<', [@artist,@album.prev(@albums_array,@artist)], class: 'btn btn-info btn-sm pull-left'
        = link_to '>', [@artist,@album.next(@albums_array,@artist)], class: 'btn btn-info btn-sm pull-right' 
  .col-md-3.social_networks
    - if @facebook_id && @facebook_id != ''
      %h4.bold.clear_both
        = @artist.name + " " + t(:in_facebook)
      %div{class:"fb-page", "data-href"=>"https://www.facebook.com/#{@facebook_id}", "data-small-header"=>"true", "data-adapt-container-width"=>"true", "data-hide-cover"=>"false", "data-show-facepile"=>"true", "data-show-posts"=>"true", "data-height" => 500}
        .fb-xfbml-parse-ignore
          %blockquote{cite:"https://www.facebook.com/#{@facebook_id}"}
            %a{href:"https://www.facebook.com/#{@facebook_id}"}
              = @facebook_id.to_s
  .col-md-1

.row
  .col-md-1
  .col-md-6


= render partial: 'sponsors/sponsorbanner'

%script{:type=>"text/javascript"}

  mb_height = $('#main_block').height()
  $( ".fb-page" ).attr( "data-height", mb_height - 4);

  var locale = "#{I18n.locale}";
  var album_name = "#{@album.name}"

  function sound_offset(){
  $.ajax({type: 'get', url: "/" + locale + "/sound_offset",
  success: function(r) { 
  smglch_offset = parseInt(r.split('#')[0]);
  smglch_hash1 = r.split('#')[1];
  }});
  }

  sound_offset();


  $(".add_to_playlist").click(function() {

  var song_id = $(this).attr('id');

  // Ajax call add to playlist with song_id
  if( $('#'+song_id).hasClass("clicked") ) {        
  $.ajax({data: { song_id: song_id }, type: 'post', url: "/" + locale + "/remove_from_playlist", success: function() { $('#'+song_id).removeClass( "clicked" ); } });
  } else {
  $.ajax({data: { song_id: song_id }, type: 'post', url: "/" + locale + "/add_to_playlist", success: function() { $('#'+song_id).addClass( "clicked" ); } });
  }

  });