= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-right
      =link_to t(:edit_album), edit_artist_album_path(@artist,@album), class: 'btn btn-warning'
      =link_to t(:delete_album), [@artist,@album], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_album_confirm) }
    
.row
  .col-md-1
  .col-md-10
    %h3
      = (link_to @artist.name, @artist) + ' - ' + @album.name
  .col-md-1

.row
  .col-md-1
  .col-md-3
    - if @album.cover?
      = image_tag( @album.cover )
    - else
      = image_tag( 'default_album.jpg' )
  %ul.playlist
    .col-md-4
      - @songs.each do |song|
        %li
          .pointer
            =link_to raw("&#8599;"), artist_album_song_path(@artist,@album,song)
          %a{ href: song.filename }
            = format('%02d', song.track).to_s + ' ' + song.name
          
  .col-md-4

.row.margin-top-10
  .col-md-1
  .col-md-3
    .artist_info
      %strong
        = t(:album_year) + ": "
      = @album.year
      %br
      %strong
        = t(:album_format) + ": "
      = @album.format
    .artist_bio
      = @album.review

