- title @artist.name + ' - ' + @album.name
- if @album.cover?
  - set_meta_tags :og => {:title => (@artist.name + " - " + @album.name) , :url => artist_album_url(@artist,@album), :image => image_url(@album.cover), :description => @album.review}
- else
  - set_meta_tags :og => {:title => (@artist.name + " - " + @album.name) , :url => artist_album_url(@artist,@album), :description => @album.review}
- if @album.review.nil? || @album.review.empty?
  - set_meta_tags description: @album.name
- else
  - set_meta_tags description: @album.review  
- set_meta_tags keywords: %W[radioperu.pe radio peru radioperu musica peruana #{@album.name}]

= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    .pull-left
      - if policy(@album).edit?
        - if @artist.profile_type == 'musician'
          =link_to t(:edit_album), edit_artist_album_path(@artist,@album), class: 'btn btn-warning'
        - else
          =link_to t(:edit_program), edit_artist_album_path(@artist,@album), class: 'btn btn-warning'
      - if policy(@album).destroy?
        - if @artist.profile_type == 'musician'
          =link_to t(:delete_album), [@artist,@album], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_album_confirm) }
        - else
          =link_to t(:delete_program), [@artist,@album], method: :delete, class: 'btn btn-danger', data: { confirm: t(:delete_album_confirm) }

.row
  .col-md-1
  .col-md-7{id:'main_block'}
    .clear_both
      .pull-left
        %h3.catalogue_title
          %span.catalogue_title
            = link_to @artist.name, "/#{I18n.locale.to_s}/" + @artist.slug
          %span
            = ' - ' + @album.name
      .sharepage.pull-right
        %h5
          - if @artist.profile_type == 'musician'
            = t(:share_this_album)
          - else
            = t(:share_this_program)
        .pull-right
          = social_share_button_tag((@artist.name + " - " + @album.name + " " + t(:in_radioperu)), popup: "true", via: "radioperu_pe")
    .clear_both
      .album_image
        - if @album.cover?
          = image_tag( @album.cover )
        - else
          = image_tag( 'default_album.jpg' )
      .artist_album_summary
        .album_mininfo
          .page-views
            %i{class:"fa fa-eye"}
            = @pageviews
          %strong
            = t(:album_year) + ": "
          = @album.year
          %br
          %strong
            = t(:album_format) + ": "
          - if @album.format
            = @album.format.name
          %br
          %strong
            = t(:genre) + ": "
          = @album.genre.name
          %br
          %strong
          - unless @album.buylink.nil? || @album.buylink.empty?
            = t(:buylink) + ": "
            = link_to @album.buylink, @album.buylink, :target => "_blank"
        .album_bio.margin-top-05
          - unless @album.review.nil? || @album.review.empty?
            = simple_format(@album.review)
          - else
            = t(:album_review_not_available)
    .album_songs.clear_both
      %div{"oncontextmenu"=>"return false"}
        %ul.playlist
          %h5.playlist_title
            = t(:click_to_play_arrow_for_details)
            -if current_user && current_user.playlists.count > 0
              = " / " 
              %span.glyphicon.glyphicon-plus-sign
              = t(:add_to_playlist)
              = " / " 
              %span.glyphicon.glyphicon-minus-sign
              = t(:remove_from_playlist)
          - @songs.each do |song|
            %li{id: "li"}
              -if current_user && current_user.playlists.count > 0
                -unless song.in?(current_user.playlists.first.songs)
                  .playlist_add
                    = link_to "", "javascript:;", class: "add_to_playlist btn btn-sm btn-success glyphicon glyphicon-plus-sign", id: song.id 
                -else
                  .playlist_add
                    = link_to "", "javascript:;", class: "add_to_playlist btn btn-sm btn-danger glyphicon glyphicon-minus-sign checked", id: song.id                 
              -else
                %a.hide   
              .pointer
                - if song.name != ''
                  - if @artist.profile_type == 'musician'
                    =link_to t(:details), "/#{I18n.locale.to_s}/" + @artist.slug + '/albums/' + @album.slug + '/songs/' + song.slug
                  - else
                    =link_to t(:details), "/#{I18n.locale.to_s}/" + @artist.slug + '/programs/' + @album.slug + '/episode/' + song.slug
              - offset = ENV["SOUND_OFFSET"].to_i
              - if song.filename.file
                %a{ href: ('##')*offset + "password" + '##' + rand(0..43254735465623).to_s + '##' + song.filename.file.basename + '##' + song.album.name + '##' + song.album.artist.name + '##' + ".mp3", id: song.id}
                  - if @songs.last.discnum && @songs.last.discnum > 1                 
                    - if song.track
                      = format('%02d', song.discnum).to_s + '-' + format('%02d', song.track).to_s + ' ' + song.name
                    - elsif song.name
                      = '00' + ' ' + song.name
                  - else
                    - if song.track
                      = format('%02d', song.track).to_s + ' ' + song.name
                    - elsif song.name
                      = '00' + ' ' + song.name 
    - if @artist.albums.count > 1
      .album_nav.margin-top-10
        = link_to '<', [@artist,@album.prev(@albums_array,@artist)], class: 'btn btn-info btn-sm pull-left'
        = link_to '>', [@artist,@album.next(@albums_array,@artist)], class: 'btn btn-info btn-sm pull-right' 
    .comment_block.clear_both
      %h4
        = t(:comments)
      - if current_user
        .new-comment
          = render partial: "comments/form", locals: { commentable: @commentable }
      - else
        =t(:you_must_sign_in_to_comment)
        .logins.text-center.clearfix
          .fb-login-button.pull-left
            %a{href: user_omniauth_authorize_path(:facebook), class:"btn btn-social btn-facebook"}
              %i{class:"fa fa-facebook"}
              = t(:sign_in_facebook)
          .go-login-button.pull-left.btn-horizontal
            %a{href: user_omniauth_authorize_path(:google_oauth2), class:"btn btn-social btn-google"}
              %i{class:"fa fa-google-plus"}
              = t(:sign_in_google)
          .email-login-button.pull-left.btn-horizontal
            %a{href: new_user_session_path, class:"btn btn-social btn-default"}
              %i{class:"fa fa-envelope"}
              = t(:sign_in_email)
      .js-comments
        = render partial: 'comments/comment', collection: @comments
  .col-md-3.social_networks
    - if @facebook_id && @facebook_id != ''
      %h4.bold.clear_both.text-center
        = @artist.name + " " + t(:in_facebook)
      %div{class:"fb-page", "data-href"=>"https://www.facebook.com/#{@facebook_id}", "data-small-header"=>"true", "data-adapt-container-width"=>"true", "data-hide-cover"=>"true", "data-show-facepile"=>"true", "data-show-posts"=>"true", "data-height" => 500}
        .fb-xfbml-parse-ignore
          %blockquote{cite:"https://www.facebook.com/#{@facebook_id}"}
            %a{href:"https://www.facebook.com/#{@facebook_id}"}
              = @facebook_id.to_s
  .col-md-1

.row
  .col-md-1
  .col-md-6

= render partial: 'sponsors/sponsorbanner'

%script{:type=>"text/javascript"}

  mb_height = $('#main_block').height()
  $( ".fb-page" ).attr( "data-height", mb_height);

  var locale = "#{I18n.locale}";
  var album_name = "#{@album.name}"

  function sound_offset(){
  $.ajax({type: 'get', url: "/" + locale + "/sound_offset",
  success: function(r) { 
  smglch_offset = parseInt(r.split('#')[0]);
  smglch_hash1 = r.split('#')[1];
  }});
  }

  sound_offset();


  $(".add_to_playlist").click(function() {

  var song_id = $(this).attr('id');

  // Ajax call add to playlist with song_id
  if( $('#'+song_id).hasClass("clicked") ) {        
  $.ajax({data: { song_id: song_id }, type: 'post', url: "/" + locale + "/remove_from_playlist", success: function() { $('#'+song_id).removeClass( "clicked btn-danger glyphicon-minus-sign" ).addClass("btn-success glyphicon-plus-sign"); } });
  } else {
  $.ajax({data: { song_id: song_id }, type: 'post', url: "/" + locale + "/add_to_playlist", success: function() { $('#'+song_id).addClass( "clicked btn-danger glyphicon-minus-sign").removeClass("btn-success glyphicon-plus-sign"); } });
  }

  });

  // Info for Stats

  function get_userinfo(){
  $.ajax( { 
  url: '//geoip.nekudo.com/api/', 
  type: 'GET', 
  dataType: 'jsonp',
  success: function(location) {
  stats_ip_address = location.ip;
  stats_country = location.country.name;
  stats_city = location.city;
  }
  } );
  user_agent = navigator.userAgent;
  album_id = "#{@album.id}"
  }

  get_userinfo();

  // Playing Stats

  $(document).on("justPlayed", function() {

  setTimeout(function(){
  $.ajax({data: { song_played_id: song_played_id, ip_address: stats_ip_address, city: stats_city, country: stats_country, platform: user_agent }, type: 'post', url: "/" + locale + "/add_to_album_stats" });
  },8000);

  });

  // Viewing Stats

  function viewstat(){
  $.ajax({data: { album_id: album_id, ip_address: stats_ip_address, city: stats_city, country: stats_country, platform: user_agent }, type: 'post', url: "/" + locale + "/add_to_album_views" });
  }

  setTimeout(viewstat,5000);
