= render partial: 'playlists_header'

.row
  .col-md-1
  .col-md-5
    %h4.playlist_name
      = t(:your_playlists)
    - if current_user
      - if @user_playlists.first != nil
        - @user_playlists.each do |playlist|
          = link_to playlist.name, playlist
      - else
        = t(:you_dont_have_playlists)
    - else
      = t(:you_need_to_login)
      %p.authentication
        %p
          - if devise_mapping.omniauthable?
            - resource_class.omniauth_providers.each do |provider|
              %a{href: "#{omniauth_authorize_path(resource_name, provider)}", class: 'btn btn-social btn-facebook'}
                %i.fa.fa-facebook
                = t(:sign_in_facebook)
        %p
          = t(:or)
        %p
          = link_to t(:register_with_email), new_user_registration_path, class: 'btn whitebtn login_btn'
    - if policy(Playlist.new).create?
      %br
      - if @user_playlists.count == 0
        =link_to t(:new_playlist), new_playlist_path, class: 'btn btn-success'
      - else
        .margin-top-10
          %em
            =t(:more_playlists_coming_soon)
  .col-md-5
    %h4.playlist_name
      = t(:other_users_playlists)
    - @playlists.each do |playlist|
      = link_to playlist.name + " - " + playlist.user.name, playlist
  .col-md-1
