- title t(:playlists)
- set_meta_tags description: t(:playlists)
= render partial: 'playlists_header'

.row
  .col-md-1
  .col-md-10
    .col-md-4
      %h4.playlist_name.text-center
        = t(:your_playlists)
      .user_playlists
        -if current_user
          -if @user_playlists.first != nil
            -@user_playlists.each do |playlist|
              %a{ href: '/' + I18n.locale.to_s + '/playlists/' + playlist.id.to_s, class: "playlist_all"}
                .playlist_thumb
                  -if playlist.image?
                    = image_tag( playlist.image.thumb )
                  -else
                    = image_tag( 'default_album_thumb.jpg')
                .playlist_summary
                  %h5.bold
                    = playlist.name
                    %br
                    = t(:by) + " " + (playlist.user.name.presence || playlist.user.email)
                    %br
                    = playlist.songs.count.to_s + " " + t(:songs) + " / " +  playlist.length + " " + t(:minutes)
          - else
            = t(:you_dont_have_playlists)
        - else
          %p.text-center
            = t(:you_need_to_login)
            
        - if policy(Playlist.new).create?
          %br
          - if @user_playlists.count == 0
            =link_to t(:new_playlist), new_playlist_path, class: 'btn btn-success'
          - else
            .margin-top-10
              %em
                =t(:more_playlists_coming_soon)

    .col-md-4
      %h4.playlist_name.text-center
        = t(:other_users_playlists)
      .user_playlists
        - @playlists.each do |playlist|
          %a{ href: '/' + I18n.locale.to_s + '/playlists/' + playlist.id.to_s, class: "playlist_all"}
            .playlist_thumb
              -if playlist.image?
                = image_tag( playlist.image.thumb )
              -else
                = image_tag( 'default_album_thumb.jpg')
            .playlist_summary
              %h5.bold
                = playlist.name
                %br
                = t(:by) + " " + (playlist.user.name.presence || playlist.user.email) + ", " + playlist.songs.count.to_s + " " + t(:songs) + " / " +  playlist.length + " " + t(:minutes)
                %br
                - unless playlist.description.nil? || playlist.description.empty?
                  = simple_format(truncate(playlist.description,length: 20))
                - else
                  = t(:playlist_description_not_available)

    .col-md-4
      %h4.playlist_name.text-center
        = t(:top_selected_songs)
      .user_playlists
        - if @records != nil
          - @records.each do |record|
            - song = Song.find(record["song_id"])
            - if song != nil
              - artist = song.album.artist
              - album = song.album
              %a{ href: '/' + I18n.locale.to_s + '/' + artist.slug + '/albums/' + album.slug + '/songs/' + song.slug, class: "playlist_all playlist_all_songs", target: :blank}
                .playlist_thumb.playlist_songs_thumb
                  - if artist.image?
                    = image_tag( artist.image.thumb )
                  - else
                    = image_tag( 'default_artist_thumb.jpg' ) 
                .playlist_summary
                  = artist.name + " - " + song.name + " - " + record["counts"].to_s + " " + t(:times)
  .col-md-1
