= render partial: 'artists/artists_header'

.row
  .col-md-1
  .col-md-10
    %div{"oncontextmenu"=>"return false"}
      %ul.playlist
        %h5.playlist_title
          = @playlist.name
        - @playlist.songs.each do |song|
          %li{id: "li", class: "#{song.id}"}
            .playlist_add
              = link_to "", "javascript:;", class: "add_to_playlist btn btn-sm btn-danger glyphicon glyphicon-minus-sign #{song.id}", id: song.id  
            .pointer
              - if song.name != ''
                =link_to t(:details), [song.album.artist,song.album,song]
            - offset = ENV["SOUND_OFFSET"].to_i
            - if song.filename.file
              %a{ href: ('#')*offset + "password" + '#' + rand(0..43254735465623).to_s + '#' + song.filename.file.basename + '#' + song.album.name + '#' + song.album.artist.name + '#' + ".mp3"}
                = song.album.artist.name + " - " + song.name

%script{:type=>"text/javascript"}

  var locale = "#{I18n.locale}";
  playlist = 1

  function sound_offset(){
  $.ajax({type: 'get', url: "/" + locale + "/sound_offset_pl",
  success: function(r) { 
  smglch_offset = parseInt(r.split('#')[0]);
  smglch_hash1 = r.split('#')[1];
  }});
  }

  sound_offset();

  $(".add_to_playlist").click(function() {

  var song_id = $(this).attr('id');

  // Ajax call add to playlist with song_id
  $.ajax({data: { song_id: song_id }, type: 'post', url: "/" + locale + "/remove_from_playlist", success: function() { $('.'+song_id).remove(); } });

  });