<!DOCTYPE html>
<html>
<head>
  <title>radioperu.pe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url"                content="http://radioperu.pe" />
  <meta property="og:title"              content="radioperu.pe" />
  <meta property="og:description"        content="descubre toda la música del Perú" />
  <meta property="og:image"              content="http://radioperu.pe/assets/radioperu-R-web.png" />
  <%= csrf_meta_tags %>
  <%= render partial: "partials/google_analytics" %>
</head>
<body data-no-turbolink>
  <div class="container-fluid">

    <div class="row container-top">
      <div class="pull-left language">
        <% if I18n.locale == :es %>
        <%= link_to "ESP", params.merge(:locale => 'es'), class: "orange" %> | <%= link_to "ENG", params.merge(:locale => 'en') %>
        <% elsif I18n.locale == :en %>
        <%= link_to "ESP", params.merge(:locale => 'es') %> | <%= link_to "ENG", params.merge(:locale => 'en'), class: "orange" %>
        <% end %>          
      </div>

      <div class="pull-right user-info">
        <%if current_user %>
          <%= t :greetings %> 
          <%= (current_user.name || current_user.email) %> !
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to (t :login), new_user_session_path, class: 'btn blackbtn' %>
        <% end %>

      </div>
    </div>

    <% if flash[:notice] %>
    <div class="msg alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="msg alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="msg alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>

    <div class="landing">
      <p></p>

      <div class="row">
        <div class="pull-left home">
          <%= link_to image_tag("home.png"), root_path %>
          <div class="about_link">
            <%= link_to t(:about), about_path %>
          </div>
        </div>        
        <div class="pull-right social">
            <%= link_to image_tag("facebook.png"), 'https://www.facebook.com/radioperu.pe', class: "facebook", :target => "_blank" %>
            <%= link_to image_tag("twitter.png"), 'https://twitter.com/radioperu_pe', class: "twitter", :target => "_blank" %>
            <%= link_to image_tag("email.png"), 'mailto:contacto@radioperu.pe', class: "email" %>
        </div>
      </div>
      
      <div class="row">
        <h1 class="logo text-center">
          <%= link_to image_tag('rp-a.png'), root_path %>
        </h1>
      </div>     

    <%= yield %>

    </div>
    
    
  </div>

</div>
<%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
