<!DOCTYPE html>
<html>
<head>
  <title>radioperu.pe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">

    <div class="row container-top">
      <div class="pull-left language">
        <%= link_to "ESP", root_path %>
        |
        <%= link_to "ENG", root_path %>
      </div>

      <div class="pull-right user-info">
        <%if current_user %>
           Hola <%= (current_user.name || current_user.email) %>!
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to "Ingresa", new_user_session_path, class: 'btn blackbtn' %>
        <% end %>

      </div>
    </div>

    <% if flash[:notice] %>
    <div class="msg alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="msg alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="msg alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>

<%= yield %>
</div>
</body>
</html>
