<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>
  radioperu.pe - descubre toda la música del Perú</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="plDXY6eMxXIyATot8RK-97UYN7s3vQTwOUyOJ5k0Is4" />
  <link rel="alternate" href="http://radioperu.pe/en" hreflang="en" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= display_meta_tags :site => 'radioperu.pe' %>
  <%= csrf_meta_tags %>
  <%= render partial: "partials/google_analytics" %>
</head>
<body data-no-turbolink>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=440598459358292";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src="http://snapwidget.com/js/snapwidget.js"></script>

  <div class="container-fluid">

    <%= render partial: "welcome/login" %>  

    <div class="row container-top">
      <div class="pull-left language">
        <% if I18n.locale == :es %>
        <%= link_to "ESP", params.merge(:locale => 'es'), class: "orange" %> | <%= link_to "ENG", params.merge(:locale => 'en') %>
        <% elsif I18n.locale == :en %>
        <%= link_to "ESP", params.merge(:locale => 'es') %> | <%= link_to "ENG", params.merge(:locale => 'en'), class: "orange" %>
        <% end %>          
      </div>

      <div class="pull-right user-info">
        <%if current_user %>
          <%= t :greetings %>
            <%= current_user.name.presence || current_user.email %> !
          <%= link_to t(:my_account), edit_user_registration_path, class: 'btn btn-primary btn-sm' %>
          <%if current_user.role == 'admin'%>
            <%= link_to 'admin', '/admin', class: 'btn btn-primary btn-sm' %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to (t :register_as_musician), '/soymusico', class: 'btn blackbtn' %>        
          <%= link_to (t :login), new_user_session_path, class: 'btn blackbtn login_btn' %>
        <% end %>

      </div>
    </div>

    <% if flash[:notice] %>
    <div class="msg alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="msg alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="msg alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>

    <div class="landing">
      <p></p>

      <div class="row">
        <div class="pull-left home">
          <%= link_to image_tag("home.png", :alt => 'home'), root_path %>
          <div class="about_link">
            <%= link_to t(:about), elproyecto_path %>
          </div>
        </div>
          <div class="pull-left social">
            <%= link_to image_tag("facebook.png", :alt => 'facebook'), 'https://www.facebook.com/radioperu.pe', class: "facebook", :target => "_blank" %>
            <%= link_to image_tag("twitter.png", :alt => 'twitter'), 'https://twitter.com/radioperu_pe', class: "twitter", :target => "_blank" %>
            <%= link_to image_tag("instagram.png", :alt => 'instagram'), 'https://instagram.com/radioperu.pe', class: "instagram", :target => "_blank" %>
          </div>
        <div class="pull-right apps">
            <%= link_to image_tag("google-play-badge.png", :alt => 'android'), 'https://play.google.com/store/apps/details?id=pe.radioperu.radioperupe&hl=es', class: "android", :target => "_blank" %>   
            <%= link_to image_tag("app-store-badge.svg", :alt => 'iphone'), 'https://itunes.apple.com/pe/app/radioperu.pe/id1086467610?ign-mpt=uo%3D5', class: "iphone", :target => "_blank" %>            

            <%# 
              <%= link_to image_tag("email.png", :alt => 'email'), 'mailto:contacto@radioperu.pe', class: "email" %>

        </div>
      </div>
      
      <div class="row">
        <h1 class="logo text-center">
          <%= link_to image_tag('rp-a.png', :alt => 'radioperu.pe'), root_path, title: 'radioperu.pe' %>
          <span class="logotext">radioperu.pe</span>
        </h1>
      </div>     

    <%unless current_user %>

     <script>
      $("#opaque-cover").show();
     </script>

    <% end %>


    <%= yield %>

  </div>
    
  <div itemscope itemtype="http://radioperu.pe" class="float-right microdata">
    <span itemprop="name">radioperu.pe - </span>
    <a itemprop="email">contacto @ radioperu . pe</a>
  </div>
    
  </div>

</div>
<%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
